<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.ui.cs.mobileprogramming.rindusalsabilla.eventplanner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventPlanner">
        <service
            android:name=".ui.dashboard.MyService"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:label="@string/login">
        </activity>
        <activity
            android:name=".ui.event.AddEventActivity"
            android:label="@string/add">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:label="@string/register">
        </activity>
        <activity
            android:name=".ui.profile.ChangeProfileActivity"
            android:label="@string/edit_profile">
        </activity>
        <activity
            android:name=".ui.dashboard.CountEventActivity"
            android:label="@string/my_event">
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.EventPlanner">
        </activity>
        <activity
            android:name=".ui.dashboard.QuoteActivity"
            android:label="@string/quote">
        </activity>

        <receiver android:name= ".ui.event.NotificationPublisher" />

    </application>

</manifest>